.table-container {
    background-color: var(--light);
    border-radius: 0px;
}
.btn-outline-info, .btn-outline-danger, .btn-outline-success {
    padding: 0em 0.75em;
    margin: 0px 0.25em; 
}
.action-column {
    width: 25%;
    text-align: center;
}
.grade-column {
    text-align: center;
}