<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th class="grade-column">Average</th>
        <th class="action-column">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.id}}</td>
        <td><a routerLink="/student/{{student.id}}">{{student.firstName}}</a></td>
        <td><a routerLink="/student/{{student.id}}">{{student.lastName}}</a></td>
        <td class="grade-column">{{student.average?.symbol}}</td> 
        <td class="action-column">
          <button routerLink="/student/{{student.id}}/edit" class="btn btn-outline-info">Edit</button>
          <button (click)="removeStudent(student)" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><input type="text" placeholder="Enter first name" [(ngModel)]="newStudent.firstName"></td>
        <td><input type="text" placeholder="Enter last name" [(ngModel)]="newStudent.lastName"></td>
        <td></td>
        <td class="action-column"><button class="btn btn-outline-success" (click)="addStudent()">Add Student</button></td>
      </tr>
    </tbody>
  </table>
</div>