<div class="table-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Weight</th>
        <th>Type</th>
        <th class="action-column">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let assignment of assignments">
        <td>{{assignment.id}}</td>
        <td><a routerLink="/assignment/{{assignment.id}}">{{assignment.description}}</a></td>
        <td>{{assignment.weight}}</td>
        <td>{{assignment.type}}</td> 
        <td class="action-column">
          <button (click)="removeAssignment(assignment)" class="btn btn-outline-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><input type="text" placeholder="Enter description" [(ngModel)]="newAssignment.description"></td>
        <td><input type="text" placeholder="Enter weight" [(ngModel)]="newAssignment.weight"></td>
        <td>
          <select class="form-control" [(ngModel)]="newAssignment.type">
            <option selected value="undefined">Select type of assignment</option>
            <option *ngFor="let assignmentType of assignmentTypes" value="{{assignmentType}}">{{assignmentType}}</option>
          </select>
        </td>
        <td class="action-column"><button class="btn btn-outline-success" (click)="addAssignment()">Add Assignment</button></td>
      </tr>
    </tbody>
  </table>
</div>