<div class="container" *ngIf="!!student">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/students">Students</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{student.firstName}} {{student.lastName}}</li>
      <li class="breadcrumb-item"><a routerLink="/student/{{student.id}}/edit">Edit</a></li>
    </ol>
  </nav> 
  <h2>{{student.firstName}}'s Assignments</h2>
  <table class="table">
    <thead>
      <th>Title</th>
      <th class="grade-column">Grade</th>
      <th>Score</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let grade of student.grades">
        <td>{{grade.assignment.description}}</td>
        <td class="grade-column">{{grade.symbol}}</td>
        <td>{{grade.score}}</td>
        <td class="action-column"><button class="btn btn-outline-info" routerLink="/grade/{{grade.id}}/edit">Edit</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="table-light">
        <td><strong>Average:</strong></td>
        <td class="grade-column">{{student.average?.symbol}}</td>
        <td>{{student.average?.score}}</td>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>