<div class="container" *ngIf="!!grade">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/students">Students</a></li>
      <li class="breadcrumb-item"><a routerLink="/student/{{grade.author.id}}">{{grade.author.firstName}} {{grade.author.lastName}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit Grade</li>
    </ol>
  </nav> 
  <h1>Edit: {{grade.author.firstName}} {{grade.author.lastName}}'s Grade</h1>
  <hr>
  <div>
    <div class="form-group">
      <label for="studentName">Score:</label>
      <input class="form-control" type="text" name="score" [(ngModel)]="grade.score">
    </div>
    <div class="form-group">
      <button (click)="updateGrade()" class="btn btn-outline-primary">Submit</button>
    </div>
  </div>
</div>