<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/students">Students</a></li>
      <li class="breadcrumb-item"><a routerLink="/student/{{student.id}}">{{student.firstName}} {{student.lastName}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
  </nav> 
  <h1>Edit: {{student.firstName}} {{student.lastName}}</h1>
  <hr>
  <div>
    <div class="form-group">
      <label for="studentName">First name:</label>
      <input class="form-control" type="text" name="studentName" [(ngModel)]="student.firstName">
    </div>
    <div class="form-group">
      <label for="studentName">Last name:</label>
      <input class="form-control" type="text" name="studentName" [(ngModel)]="student.lastName">
    </div>
    <div class="form-group">
      <button (click)="updateStudent()" class="btn btn-outline-primary">Submit</button>
    </div>
  </div>
</div>