<div class="container" *ngIf="!!assignment">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/assignments">Assignments</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{assignment.description}}</li>
    </ol>
  </nav> 
  <h2>{{assignment.type}}: {{assignment.description}}</h2>
  <table class="table">
    <thead>
      <th class="grade-column">Grade</th>
      <th>Score</th>
      <th>Student</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let grade of assignment.grades">
        <td class="grade-column">{{grade.symbol}}</td>
        <td>{{grade.score}}</td>
        <td>{{grade.author.firstName}} {{grade.author.lastName}}</td>
        <td class="action-column"><button class="btn btn-outline-info" routerLink="/grade/{{grade.id}}/edit">Edit</button></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="text" placeholder="Enter score" [(ngModel)]="newGrade.score"></td>
        <td>
          <select class="form-control" [(ngModel)]="newGrade.author">
            <option value="null">Select Student</option>
            <option *ngFor="let student of students" value="{{student.id}}">{{student.firstName}} {{student.lastName}}</option>
          </select>
        </td>
        <td class="action-column"><button class="btn btn-outline-success" (click)="addGrade()">Add Grade</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="table-light">
        <td><strong>Average:</strong></td>
        <td>{{assignment.average?.score}}</td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
